:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #ede9fe;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainRed: #db2777;
  --bodyColor: #0f172a;
  --bodyColorLightMode: #f1f5f9;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  position: fixed;
  opacity: 0.5;
  display: none;
  transition: all 0.3s;
}
.screen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-block {
  max-width: 24rem;
  transition: all 0.4s;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: -50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}
.showCart {
  top: 5rem;
  z-index: 2;
}
.cart-block div {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
.cart-block div button {
  padding: 0.3rem 1rem;
}
.cart-block i {
  cursor: pointer;
}
.cart-block img {
  width: 26%;
  height: 5.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--mainGray);
  border-radius: 15px;
}

.cart-products-block {
  max-height: 15rem;
  overflow-y: auto;
  padding: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  width: 5px;
}
.cart-products-block div {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.cart-products-block span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 3;
}

.cart-btn-confirm {
  transition: 0.3s;
  font-weight: bold;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}
.cart-btn-confirm:hover {
  background-color: var(--primaryColor);
  color: var(--bodyColorLightMode);
}
.cart-btn-claer {
  font-weight: bold;
  background: none;
  color: #dc2626;
  border: 1px solid #dc2626;
  border-radius: 5px;
  padding: 0.3rem;
  transition: 0.3s;
}
.cart-btn-claer:hover {
  color: var(--bodyColorLightMode);
  background-color: #dc2626;
}

.showBackdrop {
  display: block;
  z-index: 1;
}
.fa-minus {
  color: var(--mainRed);
}
.fa-plus {
  color: var(--primaryColor);
}
.fa-trash-alt {
  color: var(--bodyColor);
  transition: all 0.2s;
}
.fa-trash-alt:hover {
  color: var(--mainRed);
}

.lightMode .fa-plus {
  color: #164e63;
}
.lightMode .cart-btn-confirm {
  background-color: #cffafe;
  color: #164e63;
}
.lightMode .cart-btn-confirm:hover {
  background-color: #164e63;
  color: var(--bodyColorLightMode);
}

@media only screen and (max-width: 1024px) {
  .cart-block {
    max-width: 14rem;
    max-height: 27rem;
    gap: 0.5rem;
  }
  .cart-block div {
    gap: 0.5rem;
    padding: 0.2rem;
  }
  .cart-products-block span {
    font-size: 0.7rem;
  }
  .cart-block img {
    width: 25%;
    height: 2.5rem;
  }
  .showCart {
    top: 7rem;
    z-index: 2;
  }
  .cart-btn-confirm {
    font-size: 0.7rem;
    padding: 0rem;
  }
  .cart-btn-claer {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 0.6rem;
  }
  .fa-trash-alt {
    font-size: 0.7rem;
  }
}
