:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #ede9fe;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainRed: #db2777;
  --bodyColor: #0f172a;
  --bodyColorLightMode: #f1f5f9;
}
.notification {
  align-self: flex-end;
  margin: 1rem;
  transition: right 0.2s ease-in-out;
  padding: 0.4rem 1rem;
  background-color: var(--primaryColor);
  color: var(--bodyColorLightMode);
  border-radius: 8px;
  border-right: 3px solid var(--bodyColorLightMode);
  font-size: 1rem;
  position: fixed;
  right: -100rem;
  z-index: 4;
}
.notificationShow {
  right: 0.5rem;
}
.lightMode .notification{
  background-color: #164e63;
}


.addToCart-notification {
  align-self: flex-end;
  margin: 1rem;
  transition: all 0.4s ease-in-out;
  padding: 0.4rem 1rem;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: 8px;
  border-right: 3px solid var(--mainWhite);
  font-size: 1rem;
  position: fixed;
  right: -100rem;
  z-index: 4;
}
.addToCart-notificationShow {
  right: 0.5rem;
}
.lightMode .addToCart-notificationShow{
  background-color: #164e63;
}

.cartCleared-notification {
  align-self: flex-end;
  margin: 1rem;
  transition: all 0.4s ease-in-out;
  padding: 0.4rem 1.5rem;
  background-color: #dc2626;
  color: var(--mainWhite);
  border-radius: 8px;
  border-right: 3px solid var(--mainBlack);
  font-size: 1rem;
  position: fixed;
  right: -100rem;
  z-index: 4;
}
.cartCleared-notificationShow {
  right: 0.5rem;
}
.lightMode .cartCleared-notificationShow{
  border-right: 3px solid var(--bodyColorLightMode);
}